<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/brochure/assets/application-aebd15e712dbbf31d9469e1f1e4329adc04cf4451dccca45d411c190bf5a6fb4.css" media="all">
    <link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/brochure/assets/manifests/about-acf30d40008e759a13f0a6665b0687e6380f781bc68bc1299be8d56bd43161a0.css">
    <link rel="stylesheet" href="/css/styles_about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link href="/css/styles_navBar.css" rel="stylesheet">

    <title>About Shopify</title>
</head>


<nav class="navbar">
    <div class="website-name">Website Name</div>
    <ul class="nav-links">
        <li><a href="/" class="nav-link"><i class="fa fa-fw fa-home"></i> Home</a></li>
        <li><a href="/about" class="nav-link">About</a></li>
        <li><a href="/products" class="nav-link">Products</a></li>
        <li><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
</nav>

<body class="page--home-about shopify-sans-supported-lang">
    <section class="section about-hero">
        <div class="grid about-hero__grid">
            <div class="grid__item grid__item--tablet-up-half about-hero__content">
                <div class="section-heading gutter-bottom--reset">
                    <p class="section-heading__kicker heading--5 text-left--tablet-up text-center--mobile color-black">About us</p>
                    <h1 class="section-heading__heading heading--1 text-left--tablet-up text-center--mobile about-hero__heading">Lorem ipsum dolor sit amet consectetur</h1>
                    <p class="section-heading__subhead heading--2 heading--3 text-left--tablet-up text-center--mobile">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, fugiat ipsum incidunt autem at possimus rerum.</p>
                </div>
            </div>
            <div class="grid__item grid__item--tablet-up-half about-hero__image-container">
                <!-- Placeholder for image or video -->
                <img src="/assets/imgs/img_About/img3.jpg">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="grid grid--vertically-centered about-online-store">
            <div class="grid__item grid__item--tablet-up-half about-online-store__content">
                <div class="section-heading about-online-store__content gutter-bottom--reset">
                    <p class="section-heading__kicker heading--5 color-green-80 text-left--tablet-up text-center--mobile gutter-bottom--half">Drone store</p>
                    <h2 class="section-heading__heading text-left--tablet-up text-center--mobile gutter-bottom--half about-heading">Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="section-heading__subhead text-major text-left--tablet-up text-center--mobile color-gray-80 gutter-bottom--reset">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, fugiat ipsum incidunt autem at possimus rerum.</p>
                </div>
            </div>
            <div class="grid__item grid__item--tablet-up-half about-online-store__image-container">
                <!-- Placeholder for image or video -->
                <img src="/assets/imgs/img_About/img2.jpg">
            </div>
        </div>
    </section>

    <section class="section section--padding-bottom-only about-mission">
        <div class="grid grid--vertically-centered">
            <div class="grid__item grid__item--tablet-up-two-thirds grid__item--tablet-up-push-1">
                <div class="section-heading about-mission__content">
                    <p class="section-heading__kicker heading--5 color-black gutter-bottom--half">Our mission</p>
                    <h2 class="section-heading__heading gutter-bottom--half about-heading">Lorem ipsum dolor sit amet consectetur</h2>
                    <p class="section-heading__subhead text-major color-gray-80 gutter-bottom--reset">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, fugiat ipsum incidunt autem at possimus rerum.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="grid grid--vertically-centered about-content__block-container about-content__block-container--flipped about-content__image--grid">
            <div class="grid__item grid__item--tablet-up-half grid__item--tablet-up-push-half about-content__image-flipped about-video__container about-content__image--grid-item">
                <!-- Placeholder for video or image -->
                <img src="/assets/imgs/img_About/img1.jpg">
            </div>
            <div class="grid__item grid__item--tablet-up-half grid__item--tablet-up-pull-half">
                <div class="about-content--grid-item">
                    <div class="section-heading gutter-bottom--reset">
                        <p class="section-heading__kicker heading--5 color-black text-left--tablet-up text-center--mobile gutter-bottom--half">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <h2 class="section-heading__heading text-left--tablet-up text-center--mobile gutter-bottom--half about-heading">We’re building a 100-year company</h2>
                        <p class="section-heading__subhead text-major text-left--tablet-up text-center--mobile color-gray-80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, maiores! Ab sapiente esse aperiam rerum, ex vero eos ipsam sed beatae consectetur sit illo, quo doloremque officiis porro saepe. Dignissimos. 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--padding-bottom-only about-sustainability">
        <div class="grid grid--vertically-centered about-content__block-container about-content__block-container--flipped about-content__image--grid">
            <div class="grid__item grid__item--tablet-up-half grid__item--tablet-up-push-half about-content__image--flipped about-sustainability__container about-content__image--grid-item">
                <div class="about-sustainability__image-container">
                    <div class="about-sustainability__image">
                        <img src="/assets/imgs/img_About/img4.jpg">
                    </div>
                    <span class="image lazyload-image decorator-sustainability" style="max-width: 60px; max-height: 120px;" aria-hidden="true">
                    </span>
                </div>
            </div>
            <div class="grid__item grid__item--tablet-up-half grid__item--tablet-up-pull-half">
                <div class="about-content--grid-item">
                    <div class="section-heading gutter-bottom--reset">
                        <p class="section-heading__kicker heading--5 color-black text-left--tablet-up text-center--mobile gutter-bottom--half">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <h2 class="section-heading__heading text-left--tablet-up text-center--mobile gutter-bottom--half about-heading">We’re building a 100-year company</h2>
                        <p class="section-heading__subhead text-major text-left--tablet-up text-center--mobile color-gray-80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, maiores! Ab sapiente esse aperiam rerum, ex vero eos ipsam sed beatae consectetur sit illo, quo doloremque officiis porro saepe. Dignissimos. 
                            <a data-event-page="about" data-event-category="link" data-event-action="click-link-body" data-event-label="sustainability-fund" class="link" href="/about/environment/sustainability-fund">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
</body>
</html>
