<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles_contact.css">
        <link href="/css/styles_navBar.css" rel="stylesheet">




    </head>
    <body>
        
        <nav class="navbar">
            <div class="website-name">Website Name</div>
            <ul class="nav-links">
                <li><a href="/" class="nav-link"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/products" class="nav-link">Products</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
        </nav>

        
        <div class="container">
            
            <div class="content">
                <div class="left-side">
                    <div class="contact-details">
                        <div class="detail">
                            <i class="fas fa-map-marker-alt"></i> <span class="topic">Address</span>
                            <div class="text">
                                <a href="https://maps.google.com/maps?q=Your+Address" target="_blank">Text</a>
                                <br>  
                                <a href="https://maps.google.com/maps?q=Your+Address" target="_blank">Text</a>
                            </div>
                        </div>
                        <br>
                        <div class="detail">
                            <i class="fas fa-phone-alt"></i>  <span class="topic">Phone</span>
                                <div class="text">
                                    <a href="tel:+123456789">+123 456 789</a>
                                    <br>
                                    <a href="tel:+987654321">+987 654 321</a>
                                </div>
                        </div>
                        <br>
                        <div class="detail">
                            <i class="fas fa-envelope"></i> <span class="topic">Email</span>
                            <div class="text">
                                <a href="mailto:example@example.com">Example@example.com</a>
                                <br>
                                <a href="mailto:example2@example.com">Example2@example.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="topic-text"></div>
                    <p>Please fill out the form below to get in touch with us. We'll get back to you as soon as possible.</p>
                    <form action="#" method="post">
                    <div class="input-box">
                        <input type="text" placeholder="Enter your name">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="input-box message-box">
                        <input type="text" placeholder="Enter your message">
                    </div>
                    <div class="button">
                        <input type="button" value="Send" >
                    </div>
                </form>
            </div>
            </div>
        </div>
    </body>
</html>