.h1_drones {
    font-family: "Uni Sans", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center; 
    color: #000000;
    margin-right: 1000px;
    margin-top: 50px;
  }


.sort{
    font-family: "Uni Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center; 
    color: #000000;
    position: absolute;
    margin-left: 40px;
}


.card {
    --background: linear-gradient(to right, #74ebd5 0%, #acb6e5 100%);
    width: 190px;
    height: 254px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #74ebd5;
    background: var(--background);
    position: relative;
    z-index: 1;
  }
  
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
  }
  
  .card::before {
    background: linear-gradient(to bottom right, #f6d365 0%, #fda085 100%);
    transform: rotate(2deg);
  }
  
  .card::after {
    background: linear-gradient(to top right, #84fab0 0%, #8fd3f4 100%);
    transform: rotate(-2deg);
  }
  
  .card-info {
    --color: #292b2c;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: 0.7rem;
    position: relative;
    z-index: 2;
  }
  
  .card .title {
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  
  .card:hover::before,
  .card:hover::after {
    opacity: 0;
  }
  
  .card:hover .card-info {
    color: #74ebd5;
    transition: color 1s;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    padding-left: 450px;
    position: absolute;
    margin-bottom: 100px;
}

.select{
    font-family: "Uni Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center; 
    color: #000000;
    margin-left: 40px;
}

  
.container2 {
    display: grid;
    grid-template-columns: repeat(1, 1px);
    gap: 10 px;
    max-width: 1200px;
    box-sizing: border-box;
}




a {
    color: #2A679F;
  }
  /*========*/
  
  .form-wrapper {
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-color: #dedede #bababa #aaa #bababa;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    -moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    overflow: hidden;
    margin: 10px;
    margin-top: 80px;
    padding: 8px;
    width: 300px;
  }
  
  .form-wrapper #search {
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    float: left;
    font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    height: 20px;
    padding: 10px;
    width: 320px;
  }
  
  .form-wrapper #search:focus {
    border-color: #aaa;
    -webkit-box-shadow: 0 1px 1px #bbb inset;
    -moz-box-shadow: 0 1px 1px #bbb inset;
    box-shadow: 0 1px 1px #bbb inset;
    outline: 0;
  }
  
  .form-wrapper #search:-moz-placeholder,
  .form-wrapper #search:-ms-input-placeholder,
  .form-wrapper #search::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
  }
  
  .form-wrapper #submit {
    background-color: #0483a0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
    background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    border: 1px solid #00748f;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    color: #fafafa;
    cursor: pointer;
    height: 42px;
    float: right;
    font: 15px Arial, Helvetica;
    padding: 0;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    width: 100px;
  }
  
  .form-wrapper #submit:hover,
  .form-wrapper #submit:focus {
    background-color: #31b2c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
    background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
    background-image: linear-gradient(top, #0483a0, #31b2c3);
  }
  
  .form-wrapper #submit:active {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: 0;
  }
  
  .form-wrapper #submit::-moz-focus-inner {
    border: 0;
  }